# Prerequisites
.SUFFIXES: .d

# Compiled Object files
.SUFFIXES: .slo .lo .o .obj

# Precompiled Headers
.SUFFIXES: .gch .pch

# Compiled Dynamic libraries
.SUFFIXES: .so .dylib .dll

# Fortran module files
.SUFFIXES: .mod .smod

# Compiled Static libraries
.SUFFIXES: .lai .la .a .lib

# Executables
.SUFFIXES: .exe .out .app

